{% extends 'base.html' %} 
{% block body %} 
{% if messages %} 
{% for message in messages %}
<div class="tag">{{message}}</div>
{% endfor %} 
{% endif %} 

{% if room %}
<div class="m-10 font-bold">
Welcome {{request.user.username}} to {{ room.name }} 
</div>  

<div class="message-container m-10 overflow-auto h-[300px]" id="message-container">
<div  id="chat-messages">
    {% for message in chat_messages %}
    <div class="message shadow-lg p-3 m-3 rounded-lg w-1/2 bg-blue-300">
      <div class="text-sm text-gray-500"> 
    {{message.user.username}}
  </div>
  {{message.message_content}}
  <div class="text-sm text-gray-500">
    {{message.date}}
  </div>

    </div>
    {% endfor %}
  </div>
</div>


<div class="form-container fixed inset-x-0 bottom-0 bg-blue-900 p-4">
  <form action="" method="post">
      {% csrf_token %}
      <input class="rounded-md px-2" id="message-input" type="text" name="message" placeholder="Enter message">

      <button class="text-white ml-5" id="send-button" type="submit">Send</button>
    </form>
    

  </div>

{% endif %} 
{{ room.slug|json_script:"json-chatroomname" }} 
{{ request.user.username|json_script:"json-username" }}

<script>
  const chatRoomName = JSON.parse(
    document.getElementById("json-chatroomname").textContent
  );
  const chatUserName = JSON.parse(
    document.getElementById("json-username").textContent
  );

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/wss/" + chatRoomName + "/"
  );

  chatSocket.onmessage= function (e) {
    const data= JSON.parse(e.data)
    if(data.message){
          console.log('Receive message to client is',data)
          let html='<div class="message shadow-lg p-3 m-3 rounded-lg w-1/2 bg-blue-300">' +
            '<div class="text-sm text-gray-500">' +data.username+'</div>'
                      +data.message+
            '<div class="text-sm text-gray-500">'+'Just Now'+'</div></div>'
          document.getElementById('chat-messages').innerHTML+=html
          scroll()
    }
    else{
      alert('The message was empty')
    }
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };
  document.getElementById("send-button").onclick = (e) => {
    e.preventDefault();
    const messageInput = document.getElementById("message-input");
    const message = messageInput.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
        username: chatUserName,
        room: chatRoomName,
      })
    );
    messageInput.value = "";
      scroll()
  };

  function scroll(){
    const mcontainer=document.getElementById('message-container')
    console.log(mcontainer)
    mcontainer.scrollTop=mcontainer.scrollHeight
  }
  scroll()
</script>

{% endblock %}
